# Tests
Here I do some tests to figure out how does some parts of pandas work

## Quiz 2

In [2]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [3]:
obj2['California'] == None

False

In [4]:
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [5]:
# df.rename(mapper = lambda x: x.upper(), axis = 1)
# df.where(df['toefl score'] > 105)
# All of these will work
# df.drop('two')

In [7]:
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

#s2.loc[1]

In [ ]:
# loc and iloc are two useful and commonly used Pandas methods.
# (df['toefl score'] > 105) & (df['toefl score'] < 115)
# df.T['Mathematics']

for ii in s1.iteritems():
    print(ii)

(1, 'Alice')
(2, 'Jack')
(3, 'Molly')

## Quiz 3

In [ ]:
pd.merge(student_df, staff_df, how='left', left_index=True, right_index=True)
# x = 1, y = 1
my_categories = pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], ordered=True)

SyntaxError: cannot assign to literal (2381890044.py, line 2)

In [ ]:
df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.median], margins=True)

In [ ]:
import pandas as pd
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5

In [ ]:
df.groupby(group_key).apply(filling_mean)
result_df = pd.merge(staff_df, student_df, how='right', on=['First Name', 'Last Name'])
df.groupby('review_scores_value').agg({'name': len, 'reviews_per_month': (np.nanmean, np.nanstd)})

In [ ]:
import pandas as pd
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')

In [ ]:
df.groupby('vegetable')

## Final Quiz